.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 5px #0000004d;
    display: flex;
    background-color: #686868;
    justify-content: center;
    &__h1 {
        padding-top: 1rem;
    }
    &__img {
        width: 5rem;
    }
}